
body { background-color: #E5E5F7; font-size: 13pt; link: #000070; }

a { color: #000070; }
a:visited { color: #505090; }

blockquote,p { font-family: Verdana, Helvetica, Arial; 
    font-size: 0.9em; 
  }

h4 { font-family: Verdana, Helvetica, Arial; 
    font-size: 0.8em; 
  }

.title { font-weight: normal; font-family: Georgia, Times New Roman, Times;
    font-size: 1.2em}
.topic { font-weight: normal; font-style: italic; color: black; 
         font-size: 1.3em; font-family: Georgia, Times New Roman, Times; }
.byline { font-size: 0.8em; }
.nick { font-weight: bold; }
.commenter { color: #505090; }
.timestamp { font-size: 0.8em; color: gray; }
.attribution { font-family: Verdana, Helvetica, Arial;
			font-size: 0.7em; color: gray; }
.archive { font-family: Verdana, Helvetica, Arial;
			font-size: 0.8em; color: gray; }
.pframe { text-align: center; margin-left: 4px; margin-right: 4px; padding-bottom: 5px; padding-top: 5px;  }
.ppic { border: solid black 1px; }
.clogo { border: none; margin-bottom: 5px; text-align: center;  }
.cgraph { background-color: #dddddd; padding: 4px; border: solid black 1px;
         text-align: center; }
.carchive { font-family: Verdana, Helvetica, Arial;
	font-size: 0.8em; font-weight: bold; text-align: center; }
.carchivel:link { color: #555555; }
.carchivel:visited { color: #555555; }
