
body { background-color: white; }

blockquote,p { 
    font-size: medium; 
  }

h4 { 
    font-size: small; 
  }

.title { font-weight: bold; }
.topic { font-weight: bold; font-style: italic; color: gray; 
         font-size: large; }
.byline { font-size: small; }
.nick { font-weight: bold; }
.commenter { color: gray; }
.timestamp { font-size: small; color: gray; }
.attribution { 
			font-size: smaller; color: gray; }
.archive { 
			font-size: small; color: gray; }
